!!!
.devise__header
  = link_to "/" do
    = image_tag asset_path("logo_1.png") 
.wrapper
  .form-new
    -# = form_with model: @product do |f|下の書き方の方がいいかも
    = form_with model: @product, local: true do |f|
      -# %input{name: "utf8", type: "hidden", value: "✓"}/
      -# %input{name: "authenticity_token", type: "hidden", value: "sOAZ2Pxr9dhppivIyWwYGIL048Kp4lexTZMjQip5E1xkbfsDb4CLoyMU6CBsHpOQZ2+RH+206Ai7l5RyBasBaw=="}/ 何のしよう？
      .form-image
        .form-image__label
          %label 出品画像
          %span 必須
        %p 最大5枚までアップロードできます
        .form-image__box
          .prev-content
            .label-content
              %label.label-box{for: "item_item_images_attributes_0_src"}
                %pre.label-box-visible
                  = image_tag asset_path("icon_camera_1.png"), size: "35x35" 
              .hidden-content
                - if @product.persisted?
                  - @product.images.each_with_index do |image, i|
                    = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                = f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :src, class: 'js-file'
                    %br/
                    %span.js-remove 削除
                    - if @product.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                    - if @product.persisted?
                      .js-file_group{"data-index" => "#{@product.images.count}"}
                        = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
                        .js-remove 削除
                  = f.file_field :image
      .form-item
        .form-item__name
          .form-item__name__label
            %label 商品名
            %span 必須
          .form-item__name__input
            = f.text_field :name, :placeholder => "最大40文字"
        .form-item__text
          .form-item__text__label
            %label 商品の説明
            %span 必須
          .form-item__text__input
            = f.text_area :description, :placeholder => "商品の説明（必須1,000文字以内(色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .form-detail
        %p 商品の詳細
        -# .form-detail__category
        -#   .form-detail__category__label         
        -#     .form-detail__category__label
        -#       %label カテゴリー
        -#       %span 必須
        -#     .form-detail__category__input
        -#       = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}             
        -#       .pulldown.item_input__body__category__children#children_box
        -#       .pulldown.item_input__body__category__grandchildren#grandchildren_box　現在エラー回避のためにコメントアウトしてます。
        .form-detail__brand
          .form-detail__brand__label
            %label ブランド
            %span 任意
          .form-detail__brand__input
            -# = f.text_field :brand, :placeholder =>"例）シャネル"　エラー回避のためにコメントアウト
        .form-detail__status
          .form-detail__status__label
            %label 商品の状態
            %span 必須
          .form-detail__status__input
            = f.select(:status, [["選択してください"],["新品、未使用",1],["未使用に近い",2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]])
      .form-shipping
        .form-shipping__title
          %p 配送について
        .form-shipping__charge
          .form-shipping__charge__label
            %label 配送料の負担
            %span 必須
          .form-shipping__charge__input
            = f.select(:shipping_cost, [["選択してください"],["料込み（出品者負担）",1],["着払い（購入者負担）",2]])
        .form-shipping__area
          .form-shipping__area__label
            %label 発送元の地域
            %span 必須
          .form-shipping__area__input
            %span.form-shipping__area__input__lavel 都道府県 
            .form-shipping__area__input.icon-relative
              -# = f.collection_select(:prefecture_id, Prefecture.all, :id , :name, prompt: "選択して下さい", class: 'prefecture')　エラー回避のためにコメントアウト
        .form-shipping__days
          .form-shipping__days__label
            %label 発送までの日数
            %span 必須
          .form-shipping__days__input
            = f.select(:days, [["選択してください"],["1日〜2日で発送",1],["2日〜3日で発送",2],["3日〜4日で発送",3],["4日〜7日で発送",4]])
      .form-price
        .form-price__title
          %p 価格（¥300~9,999,999
        .form-price__value
          .form-price__value__left
            %label 販売価格
            %span 必須
          .form-price__value__right
            %span ¥
            = f.text_field :price, :placeholder => "0"
      .form-btn
        .form-btn__top
          = f.submit :出品する
          出品する
        .form-btn__midle
          = link_to "#" do
            下書きに保存
        .form-btn__bottom
          = link_to "/" do
            もどる
      .form-term
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .devise__footer
    .devise__footer__nav
      %ul
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li 特定商取引に関する表記
    = link_to "/" do
      = image_tag asset_path("logo-white_1.png") 
    .devise__footer__copywirte
      %small
        © FURIMA, Inc.