.ShowMain
  .MainContent
    .TopContent
      .ItemBox
        %h2.ItemBox__Name
          %p テスト
        .ItemBox__Images
          %ul.ItemBox__Images--TopImage
            %li
          %ul.ItemBox__Images--BottomImage
            %li.Image1
            %li.Image2
        .ItemBox__Price
          .ItemBox__Price--Price
            ¥2000
          .ItemBox__Price--Detail
            (税込) 送料込み
        .ItemBox__Detail
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
        .ItemBox__Table
          %table
            %tr 
              %th 出品者
              %td テスト
            %tr
              %th カテゴリー
              %td
                = link_to "#", class: 'Link' do
                  %p レディース
                  %p トップス
                  %p ワンピース
            %tr
              %th ブランド
              %td 
            %tr
              %th 商品のサイズ
              %td M
            %tr
              %th 商品の状態
              %td 新品/未使用
            %tr
              %th 配送料の負担
              %td 送料込み（出品者負担）
            %tr
              %th 発送元の地域
              %td
                = link_to "#", class: 'Link' do
                  東京都
            %tr
              %th 発送日の目安
              %td 1-2日で発送
        %ul.ItemBox__Optional
          %li.Favorite
            = link_to "#", class: 'Favorite__Btn' do
              = icon('fas', 'star')
              お気に入り 1
          %li.InappropriateProductReporting
            = link_to "#", class: 'InappropriateProductReporting__Btn' do
              = icon('fas', 'flag')
              不適切な商品の通報
      -# 《⬇︎コメント機能は実装するかわからないので形だけ》
      .CommentBox
        -# = form_with, model: @comment, class: 'CommentForm', local: true do |f|
        .CommentForm
          -# = f.text_area :text, class: 'CommentForm__text'
          .CommentForm__Text
          .CommentForm__NoticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          -# = f.submit 'コメントする', class: 'CommentForm__SendBtn'
          = link_to "#", class: 'CommentForm__SendBtn' do
            = icon('fas', 'comment')
            コメントする
    %ul.BeforeAndAfterItems
      %li
        = link_to "#", class: 'BeforeAndAfterItems__Btn' do
          < 前の商品
      %li
        = link_to "#", class: 'BeforeAndAfterItems__Btn' do
          後ろの商品 >
    .RelatedItems
      .RelatedItems__CategoryName
        = link_to "#", class: 'RelatedItems__CategoryName--Btn' do
          レディースをもっと見る
      .RelatedItems__ItemList
      = link_to "#", class: 'RelatedItems__ItemList--Item' do
        .RelatedItemImage
        .RelatedItemDetail
          .RelatedItemDetail__Name
            %h3 テスト
          .RelatedItemDetail__Details
            .Price
              1000円
              %p (税込)
            .Favorites
              = icon('fas', 'star')
              1